---
import { getCollection } from 'astro:content';
import Container from "./Container.astro";
import { getEntry } from 'astro:content';
import { Accordion, AccordionItem } from 'free-astro-components'


const complocale = Astro.url.pathname.localeCompare('/en/') === 0? 'en' : 'de';
const faqEntries = await getCollection('faqs',  ({ id }) => id.includes(`${complocale}/`));
const labelEntry = await getEntry('labels', `${complocale}/forms`)

---


    <!-- styling start - underline when hovering - currently only underlined when clicking, not when hovering?-->
    <style>
        a:hover {
    text-decoration: underline;
}
    </style>
    <!-- styling end -->
    
    <Container>
        <div class="mb-12 lg:w-2/3 text-center mx-auto">
            <h3 class="text-[#2077C2] text-sm sm:text-base  mb-6   font-bold">{labelEntry.data.faq_subtitle}</h3>
            <h1 class="text-gray-900 dark:text-white font-bold text-4xl sm:text-3xl md:text-4xl">{labelEntry.data.faq_title}</h1>
        </div>
        <div class="p-[--card-padding] overflow-hidden xlg:aspect-video flex rounded-[--card-border-radius] bg-gray-100 dark:bg-[--card-dark-bg]">
            <div class="mt-12 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
                
                
                <Accordion>
                  {faqEntries.map(faqEntry => (
                    <AccordionItem name="accordion" title={faqEntry.data.question}>
                    {faqEntry.body}
                    </AccordionItem>
                  ))}
                    
                    
                </Accordion>

            </div>
        </div>
        <!-- 2 grid start -->
        <div class="mt-12 grid sm:grid-cols-2 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
        </div>
        <!-- 2 grid end -->
    </Container>
