---
import Container from "./Container.astro"
import { getEntry } from 'astro:content';
const complocale = Astro.url.pathname.localeCompare('/en/') === 0? 'en' : 'de';
const heroEntry = await getEntry('hero',`${complocale}/titlepage`);
const labelEntry = await getEntry('labels', `${complocale}/forms`)


---

<!-- blue color span class="text-[#2077C2]"></span> -->



<section class="relative overflow-hidden scroll-mt-24" id="home">  
    <div
        aria-hidden
        class="opacity-0 dark:opacity-25 absolute [background-image:radial-gradient(theme(colors.gray.500),transparent_50%)] top-0 w-[1000px] z-10 h-[800px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
      />
    <Container>
        <div class="relative pt-32 sm:pt-44 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-4xl sm:text-5xl md:text-6xl">{heroEntry.data.title}</h1>
                <p class="max-w-xl mx-auto mt-8 text-gray-700 dark:text-gray-300">
                {heroEntry.body}
                 </p>
                 
                  <div class=" mt-6 flex flex-wrap justify-center" >
                    <Container>
                      <div class="relative">
                        <div class="mt-3 m-auto space-y-3 md:w-12/12 lg:w-12/12">
                          <h2 class="text-center text-3xl font-bold text-gray-700 dark:text-white md:text-3xl">{heroEntry.data.teasertitle}</h2>
                          <p class="text-center text-lg text-gray-600 dark:text-gray-300">
                            {heroEntry.data.teaser}
                          </p>
                          <div class="mt-8 flex flex-wrap justify-center gap-y-4 gap-x-6">
                                        <a href=`/${complocale}/register/` class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{labelEntry.data.join}</a>                     
                                  </div>
                        </div>
                      </div>
                    </Container>
                    <!-- button start -->
                    
                    <!-- button end -->
                  </div>
            </div>
        </div>
    </Container>
</section>
